CLIENT_URL=http://localhost:3000
TRUST_PROXY=false
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SAMESITE=lax
DD_SERVICE=hanjang-be
DD_ENV=local
DD_VERSION=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=hanjang
POSTGRES_SSL=false

JWT_ACCESS_TOKEN_SECRET=change-me
JWT_ACCESS_TOKEN_EXP=15m
JWT_REFRESH_TOKEN_SECRET=change-me
JWT_REFRESH_TOKEN_EXP=14d

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_CALLBACK_URL=http://localhost:5500/auth/kakao/callback
KAKAO_SIGNUP_TOKEN_SECRET=change-me
KAKAO_MOBILE_REDIRECT_SCHEME=hanjang

PHONE_CODE_PEPPER=change-me
SIGNUP_TOKEN_SECRET=change-me
SMS_SENDER_ID=
SMS_PROVIDER_URL=
SMS_PROVIDER_AUTHORIZATION=
SMS_PROVIDER_TIMEOUT_MS=3000

ADMIN_ROOT_LOGIN_ID=
ADMIN_ROOT_PASSWORD=
